.cell{
    height: 70px;
    width: 70px;
    padding: 10px;
    border: 1px solid black;
}

.row:nth-child(2n+1) .cell:nth-child(2n+1){
    background: #eee;
}

.row:nth-child(2n+1) .cell:nth-child(2n) {
    background: tan;
}

.row:nth-child(2n) .cell:nth-child(2n+1) {
    background: tan;
}

.row:nth-child(2n) .cell:nth-child(2n) {
    background: #eee;
}

.piece {
    float: none;
    width: 80px;
    height: 80px;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
