.cell{
    height: 70px;
    width: 70px;
    padding: 10px;
    border: 1px solid black;
}

.cell.active{
    border: 3px solid blue;
}

.row:nth-child(2n+1) .cell:nth-child(2n+1){
    background: #eee;
}

.row:nth-child(2n+1) .cell:nth-child(2n) {
    background: tan;
}

.row:nth-child(2n) .cell:nth-child(2n+1) {
    background: tan;
}

.row:nth-child(2n) .cell:nth-child(2n) {
    background: #eee;
}

.piece {
    float: none;
    width: 80px;
    height: 50px;
    font-size: 50px;
    text-align: start;
    display: table-cell;
    vertical-align: central;
}

.piece.active{
    border: 1px solid teal;
}
